@import 'cssreset-min.css';
@import 'sensible-defaults-for-text.css';

table td {
	vertical-align: top;
	padding: 0.5em;
}
table td:first-child {
	padding-left: 0;
}
table td:last-child {
	padding-right: 0;
}

table.choices td a {
	white-space: nowrap;
}
